/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@200;500&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: #FFFBF3;
}
.logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 59px;
  line-height: 88px;
  letter-spacing: 8px;
  color: #0D0C0B;

}
@media (max-width: 1080px) {
  .logo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #0D0C0B;
  }
}



.footer-logo {
  font-size: 36px;
  letter-spacing: 6px;
  line-height: 60px;
}
.welcome {
  background: -webkit-linear-gradient(90deg, #FF869E 6.33%, #A10035 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-main {
  background: linear-gradient(90deg, #FF869E 6.33%, #A10035 100%);
  box-shadow: 10px 12px 8px rgba(0, 0, 0, 0.25);
  border-radius: 48px;
  padding: 8px 24px 8px 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #0D0C0B;
}
h1 {
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}
h2 {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}
h3{
  font-size: 3rem; /* 48px */
  line-height: 1;
}
h4{
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */

}
h5{
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem;
}
h6{
  font-size: 1.5rem; /* 24px */
  line-height: 2rem;
}
p, article, span {
  font-family: 'Open Sans', sans-serif;
  color: #0D0C0B;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem;
}

#article h1, h2, h3, h4, h5, h6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
